parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$channel of static method Illuminate\\Log\\LogManager\:\:channel\(\) expects string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Core/Executor.php

		-
			message: '#^Possibly invalid array key type mixed\.$#'
			identifier: offsetAccess.invalidOffset
			count: 1
			path: src/Core/Executor.php

		-
			message: '#^Binary operation "\-" between mixed and int results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Integrations/Horizon/HorizonMetricsBridge.php

		-
			message: '#^Binary operation "/" between \(float\|int\) and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Integrations/Horizon/HorizonMetricsBridge.php

		-
			message: '#^Cannot call method get\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 5
			path: src/Integrations/Horizon/HorizonMetricsBridge.php

		-
			message: '#^Cannot call method hget\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Integrations/Horizon/HorizonMetricsBridge.php

		-
			message: '#^Cannot call method hgetall\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 7
			path: src/Integrations/Horizon/HorizonMetricsBridge.php

		-
			message: '#^Cannot call method hincrby\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: src/Integrations/Horizon/HorizonMetricsBridge.php

		-
			message: '#^Cannot call method hlen\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Integrations/Horizon/HorizonMetricsBridge.php

		-
			message: '#^Cannot call method hset\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 3
			path: src/Integrations/Horizon/HorizonMetricsBridge.php

		-
			message: '#^Cannot call method incr\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Integrations/Horizon/HorizonMetricsBridge.php

		-
			message: '#^Cannot call method lrange\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Integrations/Horizon/HorizonMetricsBridge.php

		-
			message: '#^Cannot call method ltrim\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Integrations/Horizon/HorizonMetricsBridge.php

		-
			message: '#^Cannot call method rpush\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Integrations/Horizon/HorizonMetricsBridge.php

		-
			message: '#^Cannot call method zadd\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 3
			path: src/Integrations/Horizon/HorizonMetricsBridge.php

		-
			message: '#^Cannot call method zcard\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Integrations/Horizon/HorizonMetricsBridge.php

		-
			message: '#^Cannot call method zremrangebyrank\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Integrations/Horizon/HorizonMetricsBridge.php

		-
			message: '#^Cannot call method zrevrange\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Integrations/Horizon/HorizonMetricsBridge.php

		-
			message: '#^Cannot cast mixed to float\.$#'
			identifier: cast.double
			count: 2
			path: src/Integrations/Horizon/HorizonMetricsBridge.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 8
			path: src/Integrations/Horizon/HorizonMetricsBridge.php

		-
			message: '#^Method LaravelParallel\\Integrations\\Horizon\\HorizonMetricsBridge\:\:getActiveWorkers\(\) should return array\<int, array\<string, mixed\>\> but returns list\<array\<mixed\>\>\.$#'
			identifier: return.type
			count: 1
			path: src/Integrations/Horizon/HorizonMetricsBridge.php

		-
			message: '#^Method LaravelParallel\\Integrations\\Horizon\\HorizonMetricsBridge\:\:getExecutionTimeHistogram\(\) should return array\<int, float\> but returns array\<float\>\.$#'
			identifier: return.type
			count: 1
			path: src/Integrations/Horizon/HorizonMetricsBridge.php

		-
			message: '#^Method LaravelParallel\\Integrations\\Horizon\\HorizonMetricsBridge\:\:getWaitTimes\(\) should return array\<string, float\> but returns array\<float\>\.$#'
			identifier: return.type
			count: 1
			path: src/Integrations/Horizon/HorizonMetricsBridge.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, ''floatval'' given\.$#'
			identifier: argument.type
			count: 3
			path: src/Integrations/Horizon/HorizonMetricsBridge.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, ''intval'' given\.$#'
			identifier: argument.type
			count: 1
			path: src/Integrations/Horizon/HorizonMetricsBridge.php

		-
			message: '#^Parameter \#1 \$json of function json_decode expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Integrations/Horizon/HorizonMetricsBridge.php

		-
			message: '#^Cannot access offset ''tags'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Integrations/Horizon/ParallelHorizonServiceProvider.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 3
			path: src/Integrations/Horizon/ParallelHorizonServiceProvider.php

		-
			message: '#^Parameter \#1 \$job of method LaravelParallel\\Integrations\\Horizon\\ParallelHorizonServiceProvider\:\:getParallelJobTags\(\) expects array\<string, mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Integrations/Horizon/ParallelHorizonServiceProvider.php

		-
			message: '#^Parameter \#1 \$redisConnection of class LaravelParallel\\Integrations\\Horizon\\HorizonMetricsBridge constructor expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Integrations/Horizon/ParallelHorizonServiceProvider.php

		-
			message: '#^Cannot call method make\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 6
			path: src/ParallelServiceProvider.php

		-
			message: '#^Parameter \#1 \$cpuDetector of class LaravelParallel\\Workers\\WorkerPoolFactory constructor expects LaravelParallel\\Support\\CpuDetector, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/ParallelServiceProvider.php

		-
			message: '#^Parameter \#1 \$executor of class LaravelParallel\\Core\\ParallelManager constructor expects LaravelParallel\\Contracts\\ExecutorContract, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/ParallelServiceProvider.php

		-
			message: '#^Parameter \#1 \$poolFactory of class LaravelParallel\\Core\\Executor constructor expects LaravelParallel\\Workers\\WorkerPoolFactory, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/ParallelServiceProvider.php

		-
			message: '#^Parameter \#2 \$resultCollector of class LaravelParallel\\Core\\Executor constructor expects LaravelParallel\\Core\\ResultCollector, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/ParallelServiceProvider.php

		-
			message: '#^Parameter \#2 \$validator of class LaravelParallel\\Core\\ParallelManager constructor expects LaravelParallel\\Support\\TaskValidator, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/ParallelServiceProvider.php

		-
			message: '#^Parameter \#3 \$validator of class LaravelParallel\\Core\\Executor constructor expects LaravelParallel\\Support\\TaskValidator, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/ParallelServiceProvider.php

		-
			message: '#^Method LaravelParallel\\Results\\ResultCollection\:\:values\(\) should return Illuminate\\Support\\Collection\<\(int\|string\), mixed\> but returns LaravelParallel\\Results\\ResultCollection\.$#'
			identifier: return.type
			count: 1
			path: src/Results/ResultCollection.php

		-
			message: '#^Method LaravelParallel\\Results\\ResultCollection\:\:valuesOr\(\) should return Illuminate\\Support\\Collection\<\(int\|string\), mixed\> but returns LaravelParallel\\Results\\ResultCollection\.$#'
			identifier: return.type
			count: 1
			path: src/Results/ResultCollection.php

		-
			message: '#^Parameter \#1 \$channel of static method Illuminate\\Log\\LogManager\:\:channel\(\) expects string\|null, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Support/CpuDetector.php

		-
			message: '#^Parameter \#2 \$max of static method LaravelParallel\\Exceptions\\ParallelException\:\:tooManyTasks\(\) expects int, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Support/TaskValidator.php

		-
			message: '#^Property LaravelParallel\\Tasks\\AbstractTask\<TReceive,TSend,TResult\>\:\:\$id \(string\|null\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Tasks/AbstractTask.php

		-
			message: '#^Parameter \#1 \$data of method LaravelParallel\\Tasks\\AbstractTask\<mixed,mixed,mixed\>\:\:__unserialize\(\) expects array\<string, mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Tasks/ClosureTask.php

		-
			message: '#^Property LaravelParallel\\Tasks\\ClosureTask\:\:\$serializable \(Laravel\\SerializableClosure\\SerializableClosure\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Tasks/ClosureTask.php
